// ==========================================================================
// Imports: Variables & Mixins
// ==========================================================================
@import "_variables";
@import "_mixins";

// ==========================================================================
// CSS Reset
// ==========================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
span,
a,
h1,
h2,
ul,
img {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: normal;
  font-size: 100%;

  a {
    text-decoration: none;
  }

  img,
  video,
  iframe {
    max-width: 100%;
  }

  img[src$=".svg"] {
    height: auto;
    max-width: none;
    width: 100%;
  }

  li {
    list-style: none;
  }
}

// ==========================================================================
// Global
// ==========================================================================
body {
  background-color: var(--colorText);
  color: var(--colorTertiary);
  font-family: var(--fontPrimary);
  @include fontTM1;
}

// ==========================================================================
// Components
// ==========================================================================
@import "c-title";
@import "c-button";

// ==========================================================================
// Pages
// ==========================================================================
@import "p-home";
